#!/bin/bash

# File to be used with [direnv](https://github.com/direnv/direnv)
# It aims at exporting common environment variables along with personnal ones (i.e credentials) automatically when entering the directory.
# Just add export statements (e.g export FOO=bar)

# Allows to put a .envrc anywhere in the folder hierarchy. Convenient to create a global .envrc.
source_up

# Put your personnal credentials in the .envrc_local file. Don't add it under version control.

# Direnv provides several utilities you might want to use to automate things when you enter project directories.
# See: https://github.com/direnv/direnv/blob/master/stdlib.sh

# For instance you might want to add the following line to automatically create a virtualenv based on the Pipfile.
# layout_pipenv

[ -e .envrc_local ] && source_env .envrc_local
